h1,
h2,
h3,
p {
  margin: 0;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
.container {
  margin-left: 80px;
  margin-right: 80px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  color: hsl(219, 9%, 45%);
}

.collections {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  font-weight: 700;
}
.collections .collection {
  padding-top: 10px;
}
.collections .collection:hover {
  color: black;
  border-bottom: 2px solid hsl(26, 100%, 55%);
  cursor: pointer;
}

.avatar {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.icon-cart:hover {
  cursor: pointer;
}
.avatar-img {
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
}


/* hero */
.hero {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  height: calc(100vh - 200px);
  position: absolute;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-sneaker {
  width: 450px;
  height: 450px;
  border-radius: 15px;
}
.sneaker-pics {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
}
.sneaker-pics img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.sneaker-pics img.active {
  opacity: 0.75;
  border: 2px solid hsl(26, 100%, 55%);
}
article {
  max-width: 500px;
}
.company-name {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}
.sneaker-type {
  font-size: 55px;
  margin-bottom: 20px;
  width: 550px;
  z-index: -10;
}
aside {
  color: hsl(219, 9%, 45%);
  margin-bottom: 30px;
}
.current-price {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.current-price span {
  font-weight: 800;
  font-size: 16px;
  color: hsl(26, 100%, 55%);
  margin-left: 15px;
}
.old-price {
  color: hsl(219, 9%, 45%);
  margin-bottom: 20px;
  font-weight: 700;
}
.num-of-sneakers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
.num-of-sneakers img {
  cursor: pointer;
}
.num-of-sneakers p {
  font-weight: 600;
}
.cart {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 20px 100px;
  max-width: 700px;
  font-weight: 700;
  font-size: 14px;

  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cart span {
  margin-left: 20px;
}

/* .empty-cart-basket */
.empty-cart-basket {
  max-width: 420px;
  max-height: 450px;
  padding: 20px;

  box-shadow: 1px 1px 1px 1px;
  position: relative;
  right: -950px;
  z-index: 1;
  background-color: white;
  letter-spacing: 1px;
  display: none;
}
.empty-cart-basket-title {
  font-weight: 600;
  border-bottom: 5px solid hsl(223, 64%, 98%);
  padding-bottom: 10px;
}
.empty-cart-basket-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: hsl(219, 9%, 45%);
  padding: 60px;
}

/* .filled-cart-basket */
.filled-cart-basket {
  max-width: 320px;
  max-height: 450px;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px;
  position: relative;
  right: -950px;
  z-index: 1;
  background-color: white;
  /* display: none; */
}
.filled-cart-basket-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
}
.filled-cart-basket-content img {
  width: 50px;
  border-radius: 5px;
  margin: 0;
}
.filled-cart-basket-content div {
  font-weight: 700;
  color: hsl(219, 9%, 45%);
}
.filled-cart-basket-content figcaption {
  margin-bottom: 10px;
}
.filled-cart-basket-content div span {
  color: black;
}
.filled-cart-basket button {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 20px 100px;
  width: 320px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.delete-icon {
  max-width: 15px;
}

/* lightbox styles */
.lightbox-close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 350px;
}

.lightbox-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
  /* display: none; */
}
.lightbox-main-sneaker {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.next-icon {
  position: absolute;
  top: 200px;
  right: 34%;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 100%;
}
.previous-icon {
  position: absolute;
  top: 200px;
  left: 34%;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 100%;
}

.lightbox-sneaker-pics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
}
.lightbox-sneaker-pics img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.sneaker-pics img.active {
  opacity: 0.75;
  border: 2px solid hsl(26, 100%, 55%);
}
